In [1]:
import pandas as pd
filename = './selectedDataSortedUser.csv'
data = pd.read_csv(filename)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722480 entries, 0 to 722479
Data columns (total 13 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   _id      722480 non-null  object
 1   b0       722480 non-null  object
 2   b1       722480 non-null  object
 3   b2       722480 non-null  object
 4   b3       722480 non-null  object
 5   b4       722480 non-null  object
 6   matchId  722480 non-null  object
 7   r0       722480 non-null  object
 8   r1       722480 non-null  object
 9   r2       722480 non-null  object
 10  r3       722480 non-null  object
 11  r4       722480 non-null  object
 12  win      722480 non-null  bool
dtypes: bool(1), object(12)
memory usage: 66.8+ MB

In [3]:
from sklearn.preprocessing import LabelEncoder

df = data.drop(['matchId', '_id'], axis=1)
df.head()

,b0,b1,b2,b3,b4,r0,r1,r2,r3,r4,win
0,Graves,Jayce,Lux,Sion,Viktor,Jhin,Mordekaiser,Nidalee,Teemo,Vladimir,True
1,Jhin,Mordekaiser,Nidalee,Teemo,Vladimir,Graves,Jayce,Lux,Sion,Viktor,False
2,Ekko,Gnar,Lulu,Neeko,Ziggs,Annie,Elise,Nidalee,Rumble,Urgot,True
3,Annie,Elise,Nidalee,Rumble,Urgot,Ekko,Gnar,Lulu,Neeko,Ziggs,False
4,Lissandra,MasterYi,Seraphine,Tristana,Xerath,Akali,Camille,Urgot,Veigar,Zed,False

In [6]:
dummy_df = pd.get_dummies(df)

feature_set = list(dummy_df.columns)
feature_set.remove('win')

NameError: name 'feature_test' is not defined

In [7]:
features = dummy_df[feature_set]
target = dummy_df.win

from sklearn.model_selection import train_test_split
feature_train, feature_test, target_train, target_test = train_test_split(
    features, target, test_size=0.2, random_state=1
)

In [8]:
feature_test.head()

,b0_Aatrox,b0_Ahri,b0_Akali,b0_Akshan,b0_Alistar,b0_Amumu,b0_Anivia,b0_Annie,b0_Aphelios,b0_Ashe,...,r4_Yasuo,r4_Yone,r4_Yorick,r4_Yuumi,r4_Zac,r4_Zed,r4_Ziggs,r4_Zilean,r4_Zoe,r4_Zyra
510820,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
282317,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
393615,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
566001,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
720973,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
target_test.head()

510820     True
282317     True
393615    False
566001    False
720973    False
Name: win, dtype: bool

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score 

logreg = LogisticRegression(max_iter=5000)

logreg.fit(feature_train, target_train)

predictions = logreg.predict(feature_test)

print("Accureacy", accuracy_score(target_test, predictions))

Accureacy 0.5942102203521205

In [12]:
from sklearn.tree import DecisionTreeClassifier

clf = DecisionTreeClassifier()
clf = clf.fit(feature_train, target_train)


predictions = clf.predict(feature_test)
print("Accureacy", accuracy_score(target_test, predictions))

Accureacy 0.569815081386336

In [13]:
from sklearn.ensemble import RandomForestClassifier

randomforest = RandomForestClassifier()

randomforest.fit(feature_train, target_train)

predictions = randomforest.predict(feature_test)

print("Accureacy", accuracy_score(target_test, predictions))

Accureacy 0.6174980622300963